.Hero{
    width: 80%;
    margin: 3rem auto;
}
.Hero_Box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.Hero_Box_Left{
    padding-right: 6rem;
}

.Hero_Box_Left h1{
    font-size: 5rem;
    line-height: 1;
}

.Hero_Box_Left p{
    margin-bottom: 2rem;
}


@media screen and (max-width : 768px) {
    .Hero_Box{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
    .Hero_Box_Left{
        width: 80%;
    }
    .Hero_Box_Right img{
        width: 100vw;
        height: 100%;
    }
}

@media  screen and (max-width : 426px) {
    .Hero{
        width: 80%;
        margin: 0 auto;
    }
    .Hero_Box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .Hero_Box_Left{
        width: 100vw;
    }
    .Hero_Box_Left h1{
        font-size: 2rem;
        line-height: 1;
    }
    .Hero_Box_Right img{
        width: 100vw;
        height: 100%;
    }
}

